<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/employerNavbar.css">
    <link rel="stylesheet" href="/css/employerProfile.css">
    <title>Change Password</title>

    <script>
        const validate=()=>{
            let flag=true;
            const currentPassword=document.getElementById("currentPassword").value
            if(currentPassword==""){
                document.getElementById("currentPasswordError").innerHTML="Please enter current Passsword"
                flag=false
            }else{
               const strength=CheckPasswordStrength(currentPassword)
               if(strength>=5){
                    document.getElementById("currentPasswordError").innerHTML=""
                }else{
                    document.getElementById("currentPasswordError").innerHTML="Enter a strong password."
                    flag=false;
                }
            }
            const newPassword=document.getElementById("newPassword").value      
            if(newPassword==""){
                document.getElementById("newPasswordError").innerHTML="Please enter new Password"
                flag=false
            }else{
                if(document.getElementById("newPassword").value!=document.getElementById("confirmPassword").value){
                    document.getElementById("newPasswordError").innerHTML="Passwords does not match"
                    flag=false
                }else{
                const strength=CheckPasswordStrength(newPassword)
                if(strength>=5){
                        document.getElementById("newPasswordError").innerHTML=""
                    }else{
                        document.getElementById("newPasswordError").innerHTML="Enter a strong password."
                        flag=false;
                    }
                }       
            }
            const confirmPassword=document.getElementById("confirmPassword").value
            if(confirmPassword==""){
                document.getElementById("confirmPasswordError").innerHTML="Please re-enter new  Passsword"
                flag=false
            }else{
               const strength=CheckPasswordStrength(confirmPassword)
               if(strength>=5){
                    document.getElementById("confirmPasswordError").innerHTML=""
                }else{
                    document.getElementById("confirmPasswordError").innerHTML="Enter a strong password."
                    flag=false;
                }
            }
            
            return flag
        }

        function CheckPasswordStrength(password) {
    
        //Regular Expressions
        var regex = new Array();
        regex.push("[A-Z]"); //For Uppercase Alphabet
        regex.push("[a-z]"); //For Lowercase Alphabet
        regex.push("[0-9]"); //For Numeric Digits
        regex.push("[$@$!%*#?&]"); //For Special Characters

        var passed = 0;

        //Validation for each Regular Expression
        for (var i = 0; i < regex.length; i++) {
            if((new RegExp (regex[i])).test(password)){
                passed++;
            }
        }

        //Validation for Length of Password
        if(passed > 2 && password.length > 8){
            passed++;
        }
        return passed
    }
    </script>
</head>

<body>
    
    {{#ifCond role "Employer"}}
         {{>employerNavbar}}
         {{else}}
         {{>applicantNavbar}}
    {{/ifCond}}
    <div class="container">
        <div class="card">
            <div class="form">  
                <form action="/profile/changePassword" method="post" onsubmit="return validate()">
                <span class="error" id="currentPasswordError"></span>
                <input type="password" name="currentPassword" id="currentPassword" placeholder="Current Passsword *">
                <br>
                <span class="error"  id="newPasswordError"></span>
                <input type="password" name="newPassword" id="newPassword" placeholder="New Passsword *">
                <br>
                <span class="error" id="confirmPasswordError"></span>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirm Password *">
                <br>
                <div>
                    <input id="btn" type="submit" value="Change">
                </div>
            </form>
            <div class="footer">
                {{#if error}}
                <div class="msg">{{error}}</div>
                {{/if}}
            </div>
            </div>
        </div>
   </div>

    <script src="/scripts/create new job.js"></script>
</body>
</html>