   <div class="navbar">
    <nav class="navbar-left">
        <div class="img"></div>
        <label for="checkbox_toggle" class="hamburger" id="hamburger">&#9776;</label>
    </nav>
    <nav class="navbar-center">
        <a class="item" href="/home">Home</a>
        <a class="item" href="/search">Search</a>
        <a class="item" href="/userProfile">Profile</a>
        {{!-- <a class="item" href="#">Contact Us</a> --}}
    </nav>
    <nav class="navbar-right">   
        <a class="item" href="/logout">Logout</a>
    </nav>
   </div>