   <div class="navbar">
    <nav class="navbar-left">
        <div class="img"></div>
        <label for="checkbox_toggle" class="hamburger" id="hamburger">&#9776;</label>
    </nav>
    <nav class="navbar-center">
        <a class="item" href="/home">Home</a>
        <a class="item" href="/myJobs">My Jobs</a>
        <a class="item" href="/createNewJob">Create Job</a>
    </nav>
    <nav class="navbar-right">
        <a class="item" href="/profile">Profile</a>
        <a class="item" href="/logout">Logout</a>
    </nav>
   </div>