/* signup page */
body{
    padding: 0px;
    margin: 0px;
    margin: 0px;
    font-family: sans-serif;
    height: 100%;
    /* overflow-y: scroll; */
    overflow: hidden;
}
.navbar{
    z-index: 2;
}

.container{
    box-sizing: border-box;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-top: 80px;
    height: 100vh;
    padding-bottom: 50px;
    
}
.msg{
    font-family: sans-serif;
    border: 1px solid green;
    background-color: rgb(121, 245, 121);
    color: green;
    /* text-align: center; */
    line-height: 20px;
    width: 180px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    
}
.msg span{
    padding-left: 5px;
}
.msg i{
    float: right;
    cursor: pointer;
    margin-right: 5px;
}
.hidden{
    display: none;
}
.card{
    text-transform: capitalize;
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 5px 10px 20px grey;
    margin-top: 60px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.header{
    border-bottom: 1px solid rgb(180, 177, 177);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.employer .name{
    margin-left: 10px;
}
.company{
    margin-right: 5px;
}

.body{
    /* border: 1px solid purple; */
    padding: 5px 10px;

}
.job-title{
    text-transform: uppercase;
    text-align: left;
    margin-left: 5px;
    font-size: 25px;
}

.location{
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
    color: grey;

}
.positions, .salary{
    text-align: left;
    margin-left: 7px;
    margin-top: 5px;
    color: grey;

}
.description{
    text-transform: none;
    font-family: 'Inter', sans-serif;
    margin-left: 7px;
    margin-top: 13px;
    /* text-indent: 50px; */
    font-size: 15px;
    text-transform: none;
}

.button{
    margin-left: 7px;
    margin-top: 13px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: rgb(72, 108, 224);
}
.footer{
    border-top: 1px solid  rgb(180, 177, 177);
    padding: 10px;
    font-size: 13px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: grey;
}
.empty{
    /* border: 1px solid red; */
    color: rgb(85, 84, 84);
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/* .backward{
    z-index: -1;
}  */


/* -------media queries for signup page */
@media screen and ( max-width:500px){
    .container{
        /* border: 1px solid red; */
        align-content: flex-start;
        align-items:flex-start;
    }
    .card{
        /* width: calc(window.innerWidth-20px); */
        /* top: 120px; */
        width: 95vw;
        margin-top: 60px;
        height: fit-content;
    }
}
